@using Simply_Gallery.Models.Gallery
@model Album
@{
    ViewBag.Title = "Фотографии";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

@if (Model.Photos == null)
{
    <h2>@string.Format("В альбоме {0} нету фотографий", Model.Name)</h2>
}
else
{
    <h2>Есть!</h2>
}