@model Simply_Gallery.Models.Album
@{
    ViewBag.Title = "Фотографии";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

@if (Model.Pictures == null)
{
    <h2>@string.Format("В альбоме {0} нету фотографий", Model.Name)</h2>
}
else
{
    <h2>Есть!</h2>
}