@model  Simply_Gallery.Models.Profile

<div class="title">
    <h2>Список всех альбомов</h2>
</div>

@if (Model.Albums == null)
{
    <div class="album-null">
        <p>У вас пока нету альбомов ;(</p>
        <img src="~/Content/profile/images/empty-album.jpg"/>
    </div>
}
else
{
    <div class="albums">
        @foreach (var album in Model.Albums)
        {
            <div class="album">
                <div class="album-image"><img src="album-image.png" alt="Фото альбома" title="Фото альбома"></div>
                <div class="album-name"><h3 title="Название альбома">@album.Name</h3></div>
                <div class="album-butt">
                    <li><a href="#" title="Перейти"><i class="far fa-arrow-alt-circle-right"></i></a></li>
                    <li><a href="#" title="Изменить"><i class="far fa-edit"></i></a></li>
                    <li><a href="#" title="Удалить"><i class="far fa-trash-alt"></i></a></li>
                </div>
            </div>
        }
    </div>
}

<div class="create-album">
    <p>Хотите создать новый альбом ?</p>
    @*@Ajax.RouteLinkActionLink("Лучшая книга", "BestBook", new AjaxOptions { UpdateTargetId = "property" })*@
    <a data-toggle="modal" data-target="#createAlbum">Создать</a>
</div>