@using Simply_Gallery.Models;

@model ApplicationUser

<div id="header">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image"><img src="~/Content/profile/images/avatar.jpg" alt="аватар" /></span>
            <h1>@Model.UserName</h1>
            @foreach (var role in Model.Roles)
            {
                <p>@role.RoleId</p>
            }

        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#"><i class="icon fas fa-home">Домашняя</i></a></li>
                <li><a href="#"><i class="icon fas fa-images">Моя галерея</i></a></li>
                <li><a href="#"><i class="icon fas fa-users-cog">Мои настройки</i></a></li>
                <li><a href="#"><i class="icon fas fa-sign-out-alt">Выход</i></a></li>
            </ul>
        </nav>
    </div>

    <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="#" class="icon"><i class="fab fa-vk"></i><span class="label">VK</span></a></li>
            <li><a href="#" class="icon"><i class="fab fa-github"></i><span class="label">Github</span></a></li>
            <li><a href="#" class="icon"><i class="fas fa-university"></i><span class="label">University</span></a></li>
            <li><a href="#" class="icon"><i class="fas fa-envelope"></i><span class="label">Email</span></a></li>
        </ul>
    </div>
</div>