<div id="main">

    <div id="property">
        @Html.Partial("ProfileContent/Albums")
    </div>

    <!-- Footer -->
    @Html.Partial("ProfileContent/Footer")

    @*<div class="modal fade" id="createAlbum" tabindex="-1" role="dialog" aria-labelledby="createAlbumTitle" aria-hidden="true">
        @Html.Partial("Shared/_CreateAlbum");
    </div>*@
</div>