<header class="header navbar-fixed-top">
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Menu toggle</span>
                    <span class="toggle-icon"></span>
                </button>

                <div class="logo">
                    <a class="logo-wrap" href="#home">
                        <img class="logo-img logo-img-main" src="~/Content/home/img/logo-name.png" alt="Логотип Simply Gallery" title="Логотип">
                        <img class="logo-img logo-img-active" src="~/Content/home/img/logo-name-dark.png" alt="Логотип Simply Gallery" title="Логотип">
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#home">Домашняя</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about">О нас</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Контакты</a></li>
                        @{ Html.RenderPartial("Shared/_LogOut"); }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="promo-block">
    <div class="container">
        <div class="margin-b-40">
            <h1 class="promo-block-title">Добро пожаловать!</h1>
            <p class="promo-block-text">На веб-сервис &laquo;Simply Gallery&raquo;</p>
        </div>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Перейти к галлереи", "Index", "Profile", routeValues: null, htmlAttributes: new { @class = "btn-theme btn-theme-md btn-white-bg text-uppercase", title = "Переход к галлереи" })
        }
        else
        {
            <a class="btn-theme btn-theme-md btn-white-bg text-uppercase" data-toggle="modal" data-target="#register" title="Регистрация">Загеристрироваться</a>
        }
    </div>
</div>