<div id="about">
    <div class="container content-lg">
        <div class="row text-center margin-b-40">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>О проекте</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="~/Content/home/img/about/01.jpg" alt="Изображение рабочей среды" title="Рабочая среда" data-wow-duration=".3" data-wow-delay=".1s">
                </div>
                <h4>Рабочая среда<span class="text-uppercase margin-l-20">Управление</span></h4>
                <p>
                    После успешной регистрации на сайте создается профиль(или рабочая область), где Вы можете использовать весь функционал нашего сервиса.
                </p>
            </div>

            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="~/Content/home/img/about/02.jpg" alt="Изображение минимализма разработки" title="Минимализм" data-wow-duration=".3" data-wow-delay=".2s">
                </div>
                <h4>Минимализм<span class="text-uppercase margin-l-20">Разработка</span></h4>
                <p>Возможность создания нескольких галерей, сортировки изображений удобным для Вас способом, удаления, а так же различных других манипуляций с Вашими изображениями.</p>
            </div>

            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn" src="~/Content/home/img/about/03.jpg" alt="Изображениe удобства дизайна" title="Удобство" data-wow-duration=".3" data-wow-delay=".3s">
                </div>
                <h4>Удобство<span class="text-uppercase margin-l-20">Дизайн</span></h4>
                <p>
                    Дизайн нашего проекта ариентирован на пользователя. Тем самым, дизайн выполнен в тёплых тонах, приятных для просмотра, и без использования запутывающей логики.
                </p>
            </div>
        </div>
    </div>

    <div class="container-full-width">
        <div class="row row-space-2">
            <div class="col-sm-6 sm-margin-b-4">
                <img class="img-responsive margin-l-auto" src="~/Content/home/img/about/01.jpg" alt="Изображение рабочей среды">
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="~/Content/home/img/about/03.jpg" alt="Изображениe удобства дизайна">
            </div>
        </div>
    </div>
</div>