<div id="image">
    <div class="content-md container">
        <div class="masonry-grid row row-space-2">
            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="~/Content/home/img/gallery/01.jpg" alt="Изображение-01">
                    </div>
                </div>
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="~/Content/home/img/gallery/02.jpg" alt="Изображение-02">
                    </div>
                </div>
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="~/Content/home/img/gallery/03.jpg" alt="Изображение-03">
                    </div>
                </div>
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="~/Content/home/img/gallery/04.jpg" alt="Изображение-04">
                    </div>
                </div>
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                <div class="work work-popup-trigger">
                    <div class="work-overlay">
                        <img class="full-width img-responsive" src="~/Content/home/img/gallery/05.jpg" alt="Изображение-05">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>