<div class="promo-banner">

    <div class="container-sm content-lg">
        <h2 class="promo-banner-title">Наши возможности!</h2>
        <p class="promo-banner-text">
            Веб-сервис &laquo;Simply Gallery&raquo; предоставляет возможность загрузки изображений небольших размеров в свою галерею и манипуляции этими изображениями
        </p>
    </div>

</div>