<div id="contact" class="content-md container">
    
    <div class="row text-center">
        <div class="col-sm-12">
            <h2>Наши контакты</h2>
            <div class="swiper-slider swiper-testimonials">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide contact-info">
                        <div class="margin-b-20">
                            <p><span class="fweight-700 color-link">Адрес: </span>г. Брест, ул. Московская, 256Д/1</p>
                        </div>
                        <div class="margin-b-20">
                            <p><span class="fweight-700 color-link">Телефон: </span><a href="tel:+375336246410">+375 (33) 624-64-10</a> МТС</p>
                        </div>
                        <p><span class="fweight-700 color-link">Osipyk Roman</span>, Developer</p>
                    </div>
                    
                    <div class="swiper-slide contact-info">
                        <div class="margin-b-20">
                            Данный проект был разработан в ходе курсовой работы по предмету &laquo;Языки программирования&raquo;
                        </div>
                        <div class="margin-b-20">
                            Руководитель курсоваой работы - <span class="fweight-700 color-link">С.В. Анфилец</span>
                        </div>
                    </div>

                </div>
                <div class="swiper-testimonials-pagination"></div>
            </div>
        </div>
    </div>

</div>