<footer class="footer">
    
    <div class="content container">
        <div class="row">
            
            <div class="col-xs-6">
                <img class="footer-logo" src="@Url.Content("~/Content/home/img/logo-name-dark.png")" alt="Логотип Simply Gallery" title="Логотип">
            </div>

            <div class="col-xs-6 text-right">
                <p class="margin-b-0">
                    Веб-сервис - &copy; Simply Gallery - @DateTime.Now.Year
                </p>
            </div>

        </div>
    </div>

</footer>