<footer class="footer">
    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="~/Content/img/logo-name-dark.png" alt="Simply gallery logo">
            </div>
            <div class="col-xs-6 text-right">
                <p class="margin-b-0">
                    @DateTime.Now.Year Web application - &copy; Simply Gallery
                </p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>