<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="#home">
                        <img class="logo-img logo-img-main" src="~/Content/img/logo.png" alt="Simply gallery logo">
                        <img class="logo-img logo-img-active" src="~/Content/img/logo-dark.png" alt="Simply gallery logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#home">Домашняя</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about">О нас</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Контакты</a></li>
                        @Html.Partial("_LogOffPartial")
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>