@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

<!-- Modal forms -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    @{ 
        Html.RenderPartial("Shared/_Login");
    }
</div>
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
    @{
        Html.RenderPartial("Shared/_Register");
    }
</div>
<!-- End Modal forms -->

@{
    <!-- Header section -->
    Html.RenderPartial("HomeContent/Header");
    <!-- End Header section -->

    <!-- About section -->
    Html.RenderPartial("HomeContent/About");
    <!-- End About section -->

    <!-- Banner section -->
    Html.RenderPartial("HomeContent/Banner");
    <!-- End Banner section -->

    <!-- Gallery section -->
    Html.RenderPartial("HomeContent/Gallery");
    <!-- End Gallery section -->

    <!-- Contact section -->
    Html.RenderPartial("HomeContent/Contact");
    <!-- End Contact section -->

    <!-- Footer section -->
    Html.RenderPartial("HomeContent/Footer");
    <!-- End Footer section -->
}