@{
    ViewBag.MainTitle = "Simply Gallery";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.MainTitle - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @*<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap/css/fresh-bootstrap-table.css" rel="stylesheet" type="text/css" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>*@

</head>
<body>
    @RenderBody()

    @*<script src="~/Content/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap-table.js" type="text/javascript"></script>*@
    @RenderSection("Scrips", required: false)
</body>
</html>