@using (Ajax.BeginForm("SearchAlbum", null, new AjaxOptions { UpdateTargetId = "album-conteiner" }, new { @class = "form form-inline", @id = "form-search" }))
{
    <input class="form-control" type="search" name="Search" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Найти</button>
}