* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
body {
	line-height: 1;
    font-size: 18px;
}
hr {
    height: 1px;
}


/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #fff;
		font-family: 'Museo Slab', sans-serif;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}

	a {
		text-decoration: none;
		color: inherit;
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
        display: inline-block;
	}

		a:hover {
			color: #E27689;
		}

		/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding-left: 5px;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}

	/* Icons */
		.icon > .label {
			display: none;
		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #222629;
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		top: 0;
		width: 375px;
	}

		#header .top {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

		#header .bottom {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			padding: 1.5em 0 0.75em 0;
		}

			#header .bottom > :last-child {
				margin-bottom: 0;
			}

		#header .icons {
			font-size: 1.5rem;
			text-align: center;
		}

			#header .icons a {
				color: #41484c;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

				#header .icons a:hover {
					color: #fff;
				}

#logo {
    margin: 1.75rem 1.5rem 1.5rem 1.5rem;
    margin-top: 60px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

        #logo .image {
            width:80px;
            height:80px;
        }
            #logo .image a {
                overflow : hidden;
                position: relative;
            }

                #logo .image a:hover .overlay {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }

                #logo .image a .overlay {
                    background: rgba(0,0,0,0.4);
                    position: absolute;
                    margin: auto;
                    width: 0px;
                    height: 0px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    opacity: 0;
                    -webkit-transition: .4s ease;
                    transition: .4s ease;
                }

            #logo .image a,
            #logo .image a img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            #logo .info {
                max-width: 200px;
                overflow-x: hidden;
                cursor: default;
            }

		    #logo .info h1 {
			    font-weight: 600;
			    font-size: 2rem;
			    line-height: 2rem;
                text-overflow: ellipsis;
                overflow: hidden;
		    }

            #logo .info p {
                font-size: 0.8em;
                color: rgba(255, 255, 255, 0.5);
                line-height: 1.25em;
                margin: 0.5em 0 0 0;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }

	#nav ul {
		list-style: none;
		padding-left: 0;
        margin-top: 60px;
		margin-bottom: 0;
	}

		#nav ul li {
			padding-left: 0;
		}

			#nav ul li a {
				display: block;
				padding: 0.5em 1.5em 0.5em 1.5em;
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
				outline: 0;
				border: 0;
				-moz-transition: none;
				-webkit-transition: none;
				-ms-transition: none;
				transition: 0.3s;
			}

                #nav ul li a span {
                    color:inherit;
                }

                #nav ul li a:hover {
                    background: rgba(0, 0, 0, 0.15);
                    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
                    color: #fff;
                }

	.icon:before {
		position: absolute;
		left: 20px;
	}

/* Footer */

	#footer {
		text-align: center;
		background-color: #dce3e2;
		padding: 2em 0;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
		font-size: 0.8em;
	}

		#footer .copyright {
			cursor: default;
			margin: 0;
		}

			#footer .copyright li {
				display: inline-block;
				line-height: 1em;
				border-left: solid 1px rgba(128, 128, 128, 0.35);
				padding: 0 0 0 0.5em;
				margin: 0 0 0 0.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					padding-left: 0;
					margin-left: 0;
				}

/* Main */

	#main {
		margin-left: 375px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
	}

/* Main */
#property {
    padding: 60px 40px;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.property-title {
    margin-bottom: 50px;
}

    .property-title h2 {
        font-size: 2.7rem;
    }

.album-null p {
    margin-bottom: 0;
    font-size: 1.8rem;
}

.add-item {
    margin-top: 50px;
    margin-bottom: 50px;
}
    .add-item p {
        margin-bottom: 10px;
    }

#album-conteiner {
    margin-top: 40px;
}
.albums {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.album {
    padding: 20px;
    flex-basis: 48%;
    margin-bottom: 20px;
    -moz-transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
    transition: 0.5s;
    border: 1px solid;
    -webkit-box-shadow: 0 5px 10px -5px #9E9E9E;
    -moz-box-shadow: 0 5px 10px -5px #9E9E9E;
    box-shadow: 0 5px 10px -5px #9E9E9E;
    cursor: pointer;
}

    .album:hover {
        transition: 0.5s;
        -webkit-box-shadow: 5px 5px 7px #C0C0C0;
        -moz-box-shadow: 5px 5px 7px #C0C0C0;
        box-shadow: 5px 5px 7px #C0C0C0;
    }

.album-image {
    margin-bottom: 20px;
    width: 100%;
    max-height: 330px;
    height: 330px;
    position: relative;
    overflow: hidden;
}
        .album-image img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

.album-name {
    font-size: 1.6rem;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    margin-bottom: 15px;
    word-break: break-all;
}
    .album-name h4,
    .album-description h4 {
        font-size: 1.5rem;
        word-break: break-word;
        text-align: left;
        width: auto;
    }

    .album-name h4 {
        margin: 0;
        margin-right: 20px;
    }

        .album-name h4 + h4 {
            margin: 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
            max-width: 300px;
        }

.album-description {
    font-size: 1.6rem;
    margin-bottom: 15px;
    display: flex;
    height: 70px;
}

    .album-description h4 {
        margin-right: 20px;
    }

    .album-description p {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        word-break: break-all;
    }

.album-bottom {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.album-date small {
    font-size: 1.3rem;
}

.photo-link {
    margin: 10px;
    margin-bottom: 0;
    overflow: hidden;
    width: 200px;
    height: 150px;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    position:relative;
}

    .photo-link:before {
        position: absolute;
        width: 32px;
        height: 28px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../img/img-resize.png') no-repeat;
        content: '';
        opacity: 0;
        z-index: 1;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .photo-link:hover:before {
        top: 50%;
        opacity: 1;
    }

    .photo-link:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        background: rgba(0, 0, 0, 0.5);
        content: '';
        opacity: 0;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .photo-link:hover:after {
        opacity: 1;
    }

    .photo-link img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        height: auto;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -webkit-transition: all 0.6s ease-out;
    }

/* Wide */

	@media screen and (min-width: 961px) and (max-width: 1880px) {

        #header {
            width: 300px;
        }

        #main {
            margin-left: 300px;
        }
	}

/* Normal */

	@media screen and (min-width: 961px) and (max-width: 1620px) {


	}

/* Narrow */

    @media screen and (min-width: 961px) and (max-width: 1320px) {

        ul.icons li a {
            width: 1.75em;
        }

        #header {
            width: 25%;
        }

        #logo {
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        #nav ul li a {
            font-size: 0.9em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        #main {
            margin-left: 25%;
        }

        .albums {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            align-items: center;
        }

        .album {
            width: 80%;
        }
    }

/* Narrower */

	#headerToggle {
		display: none;
	}

	@media screen and (max-width: 960px) {

		/* Basic */

        body {
            font-size: 16px;
        }

			header br {
				display: none;
			}

			/* Icons */

			ul.icons a {
				width: 1.75em;
				font-size: 1.25em;
			}

		/* Header */

			#header {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				-webkit-overflow-scrolling: touch;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				width: 275px;
				box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
			}

				#header .top {
					position: relative;
				}

				#header .bottom {
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
					padding-top: 2em;
					margin-top: 2em;
					position: relative;
				}

			#logo {
				margin: 1.5em 1.25em 1.25em 1.25em;
			}

			#nav ul li a {
				padding: 0.5em 1.25em 0.5em 1.25em;
			}

			#headerToggle {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 50px;
				left: 0;
				position: fixed;
				top: 0;
				width: 50px;
				z-index: 10001;
			}

				#headerToggle .toggle {
					position: absolute;
					left: 15px;
					top: 15px;
					outline: 0;
					border: 0;
				}


			body.header-visible #main {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.header-visible #headerToggle {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.header-visible #header {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Main */

			#main {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				margin-left: 0;
			}

        .album-image {
            height: 250px;
        }
            
	}

    @media (min-width: 320px) and (max-width: 920px) {

        .albums {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .album-image {
            height: 330px;
        }

    }

    @media (min-width: 0) and (max-width: 420px) {

        .album .album-image {
            height: 200px;
        }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        ul.icons a {
            width: 1em;
            font-size: 1.25em;
        }

        #footer .copyright li {
            display: block;
            line-height: 1.25em;
            border: 0;
            padding: 0;
            margin: 1em 0 0 0;
        }

            #footer .copyright li:first-child {
                margin-top: 0;
            }

        .photo-link {
            width: 400px;
            height: 350px;
        }
    }

    @media screen and (max-width: 520px) {
        .albums {
            justify-content: center;
        }

        .album-image {
            height: 250px;
        }

        .album-null img {
            width: 70%;
        }

        .create-album p {
            font-size: 18px;
        }

        .photo-link {
            width: 300px;
            height: 250px;
        }

        #property {
            padding: 50px 20px;
        }

        label {
            font-size: 1.8rem;
        }

        #action-search {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

            #action-search input[type=search] {
                margin-right: 0;
                margin-bottom: 10px;
                /*align-self:flex-start ;*/
            }

            #action-search button {
                align-self: flex-end;
            }
    }

    input[type="file"] {
        font-size: 1.8rem;
    }

table {
    font-size: 1.8rem;
    text-align: left;
    cursor:default;
}

.form {
    text-align:left;
}

.nav-action {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

#action-search {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    align-items: flex-end;
}

    #action-search input[type=search] {
        width: 100%;
        height: 40px;
    }

    #action-search button {
        min-width: 150px;
        position: relative;
        text-align: left;
        height: 40px;
        width: 150px;
        margin-left: 10px;
    }

        #action-search button i {
            position: absolute;
            top: 10px;
            right: 10px;
        }

#action-sort .dropdown-toggle {
    width: 150px;
    padding-right: 0;
    position: relative;
    text-align: left;
    height: 40px;
}

    #action-sort .dropdown-toggle i {
        position: absolute;
        right: 10px;
        top: 12px;
    }

#action-sort .dropdown-menu {
    width: 280px;
    padding: 0;
}

#action-sort .dropdown-item {
    width: 100%;
    padding: 5px 15px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

    .dropdown-item:hover {
        -moz-transition: 0.1s;
        -o-transition: 0.1s;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        text-decoration: none;
        background-color: lightgray;
        color: white;
    }

.overlay-img {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.album-image:hover .overlay-img {
    opacity: 1;
}

#album-butt-action button {
    height: 40px;
}

#album-butt-action > .btn {
    width: 100px;
    font-size: 15px;
}

#album-butt-action > .btn + .dropdown-toggle {
    width: 40px;
}

#album-butt-action .dropdown-menu {
    margin: 0;
    margin-top: 5px;
    width: 170px;
    cursor: pointer;
}
    #album-butt-action .dropdown-menu li {
        height: 40px;
        padding: 0 1px;
    }

        #album-butt-action .dropdown-menu li a {
            width: 100%;
            height: 100%;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

 /* Gallery */
    .zoom-gallery {
        -moz-transition: 0.6s;
        -o-transition: 0.6s;
        -webkit-transition: 0.6s;
        transition: 0.6s;
    }

    .image-source-link {
        color: #98C3D1;
        font-size: 17px;
    }

    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

    .mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
    }

    .mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
    }

    .mfp-with-zoom.mfp-removing .mfp-container,
    .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
    }

.text-danger {
    padding-left: 50px;
}

.text-success {
    text-align: left;
}

.header-visible {
    overflow-x: hidden;
}