@model Simply_Gallery.Models.PhotoModel
@{
    ViewBag.ModalTitle = "Создание нового альбома";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="fweight-700 color-heading" aria-hidden="true">&Chi;</span>
            </button>
            <h4 class="modal-title" id="createAlbumTitle">@ViewBag.ModalTitle</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("AddPhoto", null, new AjaxOptions { UpdateTargetId = "property", HttpMethod = "Post" }, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-froup">
                    @*@File.(m => m.Name)
                    @Html.Fi*@
                </div>

                <input type="submit" class="btn btn-primary pull-right" value="Создать" />
            }
        </div>
    </div>
</div>