<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="text-align:left;">
            <div class="modal-header">
                <h2 class="modal-title" style="font-size: 25px; display:inline;" id="deleteModalTitle">Удалить @ViewBag.TitleDelete</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&Chi;</span>
                </button>
            </div>
            <div class="modal-body" style="color:darkslategray">
                <p style="font-size:16px">Вы дейсвительно хотите <b>удалить @ViewBag.TitleDelete</b> ?</p>
                <p style="font-size:16px">Данное действие <b>не возможно</b> будет отменить!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button id="delete" type="button" class="btn btn-primary">Удалить</button>
            </div>
        </div>
    </div>
</div>