@{ 
    ViewBag.MainTitle = "Профиль";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.MainTitle - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    @RenderBody()
</body>
</html>